.wrapper {
    display: flex;
    height: 100%;
    max-width: 1023px;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 33px auto;

    .accordion {
        max-width: 1023px;
        width: 100%;

        .item {
            background-color: $colour-grey-light;
            margin-bottom: 31px;

            .title {
                padding: 0 10px;
                background-color: $colour-primary;
                display: flex;
                justify-content: space-between;
                align-items: center;
                cursor: pointer;
                border-radius: 5px;
                height: 47px;
            
                h2 {
                    font-size: 24px;
                    line-height: 34px;
                    color: $colour-title-primary;
                }
            
                span {
                    color: $colour-title-primary;
                }
            }

            .content {
                color: $colour-primary;
                max-height: 0;
                overflow: hidden;
                transition: all .5s cubic-bezier(0,1,0,1);
            }

            .show {
                height: auto;
                max-height: 500px;
                transition: all 0.5s cubic-bezier(1, 0, 1, 0);
                padding: 20px 18px;
                font-size: 24px;
                font-weight: lighter;
                font-family: 'Monstserrat', sans-serif;
                line-height: 34px;
            }
        }
    }
}



@media screen and (max-width: 768px) {
    .wrapper {
        .accordion {
            .item {
                margin-bottom: 20px;
                .title {
                    height: 30px;
                    h2 {
                        font-size: 13px;
                        line-height: 18px;
                    }
                    span {

                    }
                }
                .content {

                }
                .show {
                    font-size: 12px;
                    line-height: 17px;
                }
            }
        }
    }
}






    
