footer {
    background-color: $colour-banner-bkg;
    width: 100%;
    margin: 0 auto;
    padding: 66px 0 29px 0;

    img {
        width: 122px;
        height: 39px;
        margin: 0 auto;
        display: flex;
        padding-bottom: 39px;
    }

    .copy {
        font-family: 'Montserrat', sans-serif;
        color: $colour-title-primary;
        font-size: 24px;
        line-height: 32px;
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    footer {
        img {
            padding-bottom: 29px;
        }
        .copy {
            font-size: 12px;
        }
    }
    
}