.infos {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

    // INFOS
    &__content {
        display: flex;
        flex-direction: column;
        max-width: 80%;
        align-items: flex-start;

        &-title {
            font-size: 35px;
            line-height: 51px;
            font-weight: 500;
            color: $colour-primary;
            text-align: left;
        }

        &-second {
            font-size: 18px;
            line-height: 25px;
            font-weight: 500;
            color: $colour-primary;
            margin-block-start: unset;
            margin-block-end: unset;
        }

        &-tags {
            ul {
                display: flex;
                padding-inline-start: unset;
                margin-block-start: unset;
                margin-top: 20px;

                li {
                    min-width: 95px;
                    height: 25px;
                    background-color: $colour-primary;
                    text-align: center;
                    color: $colour-title-primary;
                    font-size: 14px;
                    line-height: 24px;
                    font-weight: 300;
                    border-radius: 10px;
                    list-style-type: none;
                    margin-right: 10px;
                    padding: 0 10px;
                }
            }
        }
    }

    // STUFFS
    &__stuffs {
        display: flex;
        align-items: flex-end;
        flex-direction: column-reverse;
        max-width: 25%;
        position: relative;

        &-rate {
            ul {
                list-style-type: none;

                li {
                    img {
                        margin-left: 10px;
                    }
                }
            }
        }
        &-host {
            width: 393px;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            position: absolute;
            bottom: 45%;

            &-title {
                font-size: 18px;
                line-height: 25px;
                text-align: right;
                color: $colour-primary;
                max-width: 93px;
                margin-right: 10px;
                font-weight: 400;
            }

            &-img {
                width: 64px;
                height: 64px;
                border-radius: 50%;
            }
        }
    }
}



@media screen and (max-width:1176px) {
    .infos {
        &__content {
            &-title {
                font-size: 29px;
            }
        }
    }
}

@media screen and (max-width:1024px) {
    .infos {
        &__content {
            &-title {
                font-size: 24px;
            }
        }
    }
}

@media screen and (max-width:992px) {
    .infos {
        &__content {
            &-title {
                font-size: 22px;
            }
        }

        &__stuffs {
            &-rate {
                ul {
                    li {
                        img {
                            width: 20px;
                            margin-left: 5px;
                        }
                    }
                }
            }
        }
    }
}



@media screen and (max-width:768px) {
    .infos {
        flex-direction: column;
        // INFOS
        &__content {
            max-width: 100%;

            &-title {
                font-size: 18px;
                line-height: 25px;
            }

            &-second {
                font-size: 14px;
                line-height: 20px;
            }

            &-tags {
                ul {
                    li {
                        min-width: 84px;
                        height: 18px;
                        font-size: 10px;
                        line-height: 17px;
                        font-weight: 300;
                        border-radius: 5px;
                    }
                }
            }
        }

        // STUFFS
        &__stuffs {
            max-width: 100%;
            display: flex;
            align-items: center;
            flex-direction: initial;
            justify-content: space-between;

            &-rate {
                ul {
                    margin-block-start: unset;
                    margin-block-end: unset;
                    padding-inline-start: unset;
                    width: 100px;

                    li {
                        img {
                            width: 15px;
                            height: auto;
                            margin-right: 5px;
                            margin-left: unset;
                        }
                    }
                }
            }

            &-host {
                display: flex;
                align-items: center;
                position: unset;
                bottom: unset;

                &-title {
                    font-size: 12px;
                    line-height: 17px;
                }

                &-img {
                    width: 32px;
                    height: 32px;
                }
            }
        }
    }
}