header {
    display: flex;
    max-width: 1240px;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 40px;
    height: 68px;
    align-items: center;

    .kasa-logo {
        width: 210px;
    }
}

.navigation {
  width: 259px;
  ul {
    display: flex;
    list-style-type: none;
    width: 100%;
    padding-inline-start: 0px;
    justify-content: space-between;

    a {
      text-decoration: none;
      padding: 10px 0 0 0;

      li {
          
          color: $colour-primary;
          transition: 0.2s;
          cursor: pointer;
          @extend .nav-typo;

          &:hover {
            color: darken($colour-primary, 1);
          }
        }
      }

    .nav-active {
      position: relative;

      &::after {
        content: "";
        height: 2px;
        width: 0;
        background: $colour-primary;
        position: absolute;
        border-radius: 10px;
        bottom: 4px;
        left: 50%;
        transform: translateX(-50%);
        -webkit-animation: anim 0.3s ease forwards;
        animation: anim 0.6s ease forwards;

        @-webkit-keyframes anim {
          to {
            width: 100%;
          }
        }
        @keyframes anim {
          to {
            width: 100%;
          }
        }
      }
    }
  }
}


@media screen and (max-width: 768px) {
  header {
    display: flex;

    .kasa-logo {
        width: 145px;
    }
  }

  
  .navigation {
    width: 140px;
    padding-bottom: 10px;

    ul {
        justify-content: space-between;

        a {
            li {
                font-size: 12px;
                line-height: 17px;
                text-transform: uppercase;
            }
        }

        .nav-active {
            &::after {
                content: "";
                height: 1px;
                bottom: 0px;
            }
        }
    }
  }
}