/* COULEURS */
$colour-primary: #ff6060;
$colour-grey-dark: #C4C4C4;
$colour-grey-medium: #E3E3E3;
$colour-grey-light: #F7F7F7;
$colour-title-primary: #FFFFFF;
$colour-banner-bkg: #000000;

/* FONTS */
.nav-typo {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
}

.card-typo {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: $colour-title-primary;
}

h1 {
    font-size: 48px;
    line-height: 68px;
    color: $colour-title-primary;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}