html {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 13px;
}

h1, h2, h3, h4, p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}