@font-face {
    font-family: 'Montserrat';
    src: url(../../assets/fonts/Montserrat-Regular.ttf);
}

h1{
    font-family: 'Montserrat', sans-serif;
}
p{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}